body{
  padding-left: 20%;
  padding-right: 20%;
}

.section-footer{
  padding-top: 1%;
  padding-bottom: 1%
}


.section-button-delete{
  padding-top: 10px;
  padding-bottom: 10px;
}


.client-selector{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 75%;
}

.div-with-buttons{
  padding: 10px;
}
